* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.acessivel {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

body {
    background-color: #F1F3EF;
    margin: 0;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F1F3EF;
    color: #ffffff;
    overflow-x: hidden;
}

.conteudo_principal {
    display: flex;
    /* Permite a navegação lateral e o conteúdo ficarem lado a lado */
    min-height: 100vh;
}

/* Navegação Lateral */

.conteudo {
    width: 250px;
    padding: 20px 0;
    border-right: 1px solid #eee;
    /* Divisória sutil */
    flex-shrink: 0;
    /* Impede que a barra lateral diminua */
    position: sticky;
    /* Para manter o menu fixo,*/
    top: 0;
    align-self: flex-start;
    /* Fixa no topo */
}

.menu_lateral {
    list-style: none;
    justify-content: space-between;
    display: flex;
}

.menu_lateral ul {
    list-style-type: none;

}


.menu_lateral li a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.95em;
    letter-spacing: 1px;
    color: #FFFFFF;
    transition: background-color 0.2s;
}

.menu_lateral li a:hover {
    background-color: #f5f5f5;
}

.lista_vertical {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;
    background-color: aqua;
}

.main_home {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.secao_logo {
    display: flex;
    flex-direction: column;
    width: 16%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 37, 55, 1) 50%, rgba(0, 71, 107, 1) 100%);
}

/* conteudo principal */
.conteudo {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 50px 0;

}

.card1 {
    width: 90%;
    max-width: 900px;
    height: 360px;
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 30px;
    padding: 0 50px;
    box-shadow: 0 5px 8px 0 #00000050;
    margin-bottom: 50px;
    
}

.card1 img {
    position: absolute;
    align-self: flex-end;
    left: 20px;
    width: 46%;
    cursor: pointer;
}

.card1 div {
    width: 40%;
}

.cards {
    display: flex;
    gap: 5%;
    /* Espaço entre os dois cards menores */
    cursor: pointer;
    align-items: center;
}

.card2 {
    min-width: 200px;
    width: 40%;
}

.card2 img {
    width: 100%;
}

.card3 {
    width: 45%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    /* Cor de logo para a imagem */
}

.card3 img {
    width: 100%;
}


.card2 .model-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    background-color: #ccc;
    /* Cor de logo para a imagem */
}


.secao_logo svg {
    width: 240px;
    margin-top: 50px;
    height: 30px;
    display: flex;
}

.secao_logo img {
    width: 300px;
    cursor: pointer;
}

.icones {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}

/* RODAPE */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: #01476B;
    gap: 5rem;
    padding: 0 1rem 0 1rem;
}

footer .logo {
    height: 40px;
}

p {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.coluna_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coluna_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
    cursor: pointer;
}


/* Media para telas menores (para responsividade)  */

@media (max-width: 768px) {
    .menu_lateral {
        width: 180px;
    }

    .secao_logo {
        flex-direction: column;
        padding-right: 0;
        display: none;
    }

    .conteudo {
        min-width: auto;
    }

    .logo {
        right: 20px;
        transform: none;
        bottom: 20px;
    }
}