* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Julius Sans One", sans-serif;
}

:root {
--corBackground:#F5F5F5;

/*MODO ESCURO*/
 
--corHeaderMDEscuro: linear-gradient(96deg, rgba(0, 37, 55, 1) 0%, rgb(0 0 0) 100%);
--corBackgroundMDEscuro: #9d9d9d ;
--corDFundoMDEscuro: #030c11;
--corInputMDEscuro: #3e3e3e;


}

/* HEADER*/


header {
    justify-items: center;
    height: 200px;
    background: linear-gradient(96deg, rgba(0, 37, 55, 1) 0%, rgba(0, 71, 107, 1) 100%);
}





.container_cabeçalho {
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: aqua; */


    max-width: 1440px;
    height: 100%;
    width: 100%;

}

.conteudo_cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* background-color: blueviolet; */

    width: 25%;
    height: 100%;

    position: absolute;
    left: 0
}


.seta {
    width: 60px;
    cursor: pointer;
    color: white;

    margin-right: 15px;
}

.seta_cadastro {
    display: none;
}

header .logo {
    height: 45px;
    cursor: pointer;
    justify-self: center;
}

.conteudo_cabeçalho img {
    height: 200px;

}


/* ACESSIVEL */

.acessivel {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}



  .banner_pesquisa{
    display: flex;
    align-items: center;
  }
  .banner_pesquisa input{
    display: flex;
    justify-content: center;
  }
  
  .lupa{
    height: 24px;
    position: absolute;
   margin: 10px;
    color: #b0b0b0;
  }
  input[type="text"]{
  border-radius: 10px;
  width: 400px;
  height: 40px;
 border: solid 1px ;
 padding-left: 45px;
}
 

.Ariana {
  height: 300px;
}



/*CARDS*/



.cards {
  display: flex;
  flex-wrap: wrap;
  /*background-color: aqua;*/
  gap: 5%;
  width: 100%;
  justify-content: center;
  padding: 0 20px;
  box-shadow: #00000050;
  



}



.card {
  width: 380px;
  height: 400px;
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s;
  position: relative;
  margin-bottom: 50px;


  justify-content: space-between;
  align-items: center;
}

.card img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.card p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5rem;
}


.card span {
  font-weight: bold;
  font-size: 1rem;
  display: block;
  margin-bottom: 0 3rem;
  display: flex;
}

.card small {
  font-size: 0.8rem;
  color: #777;
  display: flex;
}

.coracao {
  margin-right: 10px;
  width: 20px;
  height: 42px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;

}



/*footer*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background: linear-gradient(96deg, rgba(0, 37, 55, 1) 0%, rgba(0, 71, 107, 1) 100%);

}

footer .logo {
  height: 40px;


}


/* MEDIA*/
@media screen and (max-width: 768px) {

  header {
    height: 130px;
  }

  .logo {
    height: 45px;
  }

  .seta {
    width: 40px;
    width: 40px;
    cursor: pointer;
    color: white;

    margin-right: 15px;
  }


  .conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
  }

  img {
    height: 120px;
  }

  /* CARDS*/

  .Ariana {
    height: 200px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    width: 100%;
    justify-content: center;
    padding: 0 20px;

  }

  .card {
    width: 309px;
    height: 320px;
    background: #fff;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s;
    position: relative;
    margin-bottom: 50px;

    justify-content: space-between;
    align-items: center;
  }

  .card img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  .card p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
  }

  .card span {
    font-weight: bold;
    font-size: 1rem;
    display: block;
    margin-bottom: 0 3rem;
    display: flex;
  }

  .card small {
    font-size: 0.8rem;
    color: #777;
    display: flex;
  }

  .coracao {
    margin-right: 10px;
    width: 20px;
    height: 42px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  /* FOOTER*/

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
  }

  footer .logo {
    height: 25px;

  }
}